<script type="text/x-handlebars-template" id="airplaneView">
    <div class="airplane">
    <h1>Airplanes</h1>
    {{#each planes}}
      <h2 class='plane_name'>{{ name }}</h2>
      <p>{{ row }}</p>
      <p> {{ columns }}</p>
      {{/each}}
    </div>
</script>

<div id='main'></div>