<script type="text/x-handlebars-template" id="airplaneView">
    <div class="airplane">
    <p>airplanes</p>
    {{#each planes}}
      <h2>{{ this.name }}</h2>
      <h4>{{ this.row }}</h4>
      <p> {{ this.columns }}</p>
      {{/each}}
    </div>
</script>

<div id='main'></div>